<div class="container">
</div>
<div class="container">
  <app-server>
    <p>
      this is warniing
    </p>
  </app-server>
</div><hr><br>
<div class="container">
  <app-success>
    <p>
      this is success
    </p>
  </app-success>
</div><hr><br>
<div class="container">
  <app-server2>
    <p>
      this is success
    </p>
  </app-server2>
</div><hr><br>
<div class="container">
  <app-adduser>
    <p>
      this is add user
    </p>
  </app-adduser>
</div><hr>
<div class="container">
  <!-- <button class="btn btn-primary" (click)="this.showText = !this.showText">Show/Hide</button>   -->
  <button class="btn btn-primary" (click)="onClickButton()">Show/Hide</button>  
  <p *ngIf="showText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum veritatis tempora, nesciunt minima iure adipisci debitis modi, atque, quis non ratione sed. Cum libero veritatis labore sint non dolor voluptate?</p>
  <div 
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 4}"
  >{{ logItem }}</div>
</div>