<label>server name:</label>
<!-- <input type="text" class="form-control" (input)="onInputChange1($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<button class="btn btn-primary" [disabled]="!button" (click)="onCreateServer()">Add server</button>

<br>{{serverName}}<br>
<p *ngIf="serverCreated === true; else noServer">
    {{serverCreationStatus}}
</p>
<ng-template #noServer>
    <p>
        no server is created
    </p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>